﻿<div class="container">
    <h4><strong>BitBucket Account Creation</strong></h4>
    <p>
        In this section, we will show you how to set up a BitBucket Account </br>
        <p><strong>NOTE:</strong> When setting up your BitBucket Account only use your aimntls email address.</p>
        <div class="panel group">
            Making a edit here to see how doing not full page changes will work.
           

            <!-- BitBucket Account creation-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapseBitBucketAccount">BitBucket Account Creation</a>
                    </h4>
                </div>
                <div id="collapseBitBucketAccount" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <!-- Showing all of the steps for BitBucket Account creation-->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5><strong>Step 1:</strong></h5>
                                Click on the link below to go to the BitBucket home page.</br>
                                <a href="https://bitbucket.org/product" target="_blank">BitBucket Homepage</a>
                            </li>

                            <li class="list-group-item">
                                <h5><strong>Step 2:</strong></h5>
                                Click on the Get Started button in the top right of the webpage.
                                <img src="~/Content/images/BitBucketStep2Image.jpg" class="img-responsive" />
                            </li>

                            <li class="list-group-item">
                                <h5><strong>Step 3:</strong></h5>
                                When setting up your BitBucket Account use only your aimntls email address.
                            </li>

                            <li class="list-group-item">
                                <h5><strong>Step 4:</strong></h5>
                                Put your first and last name in for the full name and create a password. This password can be any password you would like.</br>
                                After the information is in place click Continue.
                            </li>

                            <li class="list-group-item">
                                <h5><strong>Step 5:</strong></h5>
                                You will get an email to your aimntls address to verify your account. Click on the verify link in your email.
                            </li>

                            <li class="list-group-item">
                                <h5><strong>Step 6:</strong></h5>
                                BitBucket will ask for a name for Cloud. This is the your username in BitBucket. You will then use your AIM username with AIM at the end.</br>
                                Example: jsmithAIM</br>
                                Click Continue.
                            </li>

                            <li class="list-group-item">
                                <h5><strong>Step 7:</strong></h5>
                                You now have a BitBucket account. Now go to your BitBucket Dashboard by clicking the button below
                                <img src="~/Content/images/BitBucketStep7Image.jpg" class="img-responsive" />
                            </li>

                            <li class="list-group-item">
                                <h5><strong>Step 8:</strong></h5>
                                Notify the BitBucket account Admin of your newly created account to get access to the correct repos.
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

</div>