﻿<div class="container">

    <h4><strong>Git Installation Process</strong></h4>
    <p>In this section, we will show you how to Install Git on your machine in a step by step guide. Information on the different sections </br>
    <ul>
        <li>Git Installation Process</li>
        <li>Git reference material for understand how to use Git</li>
    </ul>

    <strong>NOTE:</strong> Operating System: Windows 10
    </br><strong>NOTE:</strong> Version: 2.17.0.windows.1
    </br>This is a Git for Windows version.
    </br>

    <!-- Collapisble panel List for Download Link, Some Extra Git Documents, and Step by step guide for installing Git-->
    <!-- Git Download Link -->
    <div class="panel group">
        <!-- Git Installation Process-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseGitInstall">Git Install Guide</a>
                </h4>
            </div>
            <div id="collapseGitInstall" class="panel-collapse collapse">
                <div class="panel-body"> <!-- Showing all of the steps for installing Git.-->
                    <ul class="list-group">
                        <li class="list-group-item"><h5><strong>Step 1:</strong></h5>
                            Click on the link below to go to the Git Download page.
                            </br><a href="https://www.git-scm.com/downloads" target="_blank">Git Download</a>
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 2:</strong></h5>
                            Select the Download link that matches your Operating System.
                            <img src="~/Content/images/GitOperatingSysDownload.jpg" class="img-responsive"/>
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 3:</strong></h5>
                            Click Run on the browser download link.
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 4:</strong></h5>
                            When the Git install window opens, press Next.
                            <img src="~/Content/images/GitStep4Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 5:</strong></h5>
                            Click Next. No need to change anything here
                            <img src="~/Content/images/GitStep5Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 6:</strong></h5>
                            Click Next. No need to change anything here.
                            <img src="~/Content/images/GitStep6Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 7:</strong></h5>
                            Click Next. No need to change anything here
                            <img src="~/Content/images/GitStep7Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 8:</strong></h5>
                            Click Next. No need to change anything here.
                            <img src="~/Content/images/GitStep8Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 9:</strong></h5>
                            Click Next. No need to change anything here.
                            <img src="~/Content/images/GitStep9Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 10:</strong></h5>
                            Click Next. No need to change anything here.
                            <img src="~/Content/images/GitStep10Image.jpg" class="img-responsive" />
                        </li>
                        <li class="list-group-item">
                            <h5><strong>Step 11:</strong></h5>
                            Click Next. No need to change anything here.
                            <img src="~/Content/images/GitStep11Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 12:</strong></h5>
                            Click Next. No need to change anything here.
                            <img src="~/Content/images/GitStep12Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 13:</strong></h5>
                            Click Install.
                            <img src="~/Content/images/GitStep13Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 14:</strong></h5>
                            Open GitBash on your computer. A terminal window will open with a Git logo on it.</br>
                            In the terminal type <code>git --version</code>. The Git version should display.</br>
                            This verifies that Git is installed.
                            <img src="~/Content/images/GitStep14Image.jpg" class="img-responsive" />
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Git Documentation-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseGitDocuments">Git Documentation</a>
                </h4>
            </div>
            <div id="collapseGitDocuments" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="https://www.git-scm.com/doc" target="_blank">Git Documentation</a>
                    <!--<p>This link contains a reference manual for Git, GitHub CheatSheet, Visual Git Cheat Sheet,
                and some videos about how to use Git. Uses these documents as references and training for Git.</p>-->
                </div>
            </div>
        </div>
    </div>

</div>

