﻿<div class="container">
    <h4><strong>Visual Studio Git Branch, Commiting, and Pushing</strong></h4>
    <p>
        In this section, we will show you how create branches, commit, and push your work from the Repository that has already been connected to your Visual Studio.</br>
    <p><strong>NOTE:</strong> If you have not already connected the repository to Visual Studios you must go to <strong>Visual Studio Installation</strong> to the <strong>Git setup in Visual Studio</strong> section.</p>
    <div class="panel group" id="VSBranchGroup">


        <!-- Creating a Branch-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#VSBranchGroup" href="#collapseVSBranch">Create a Branch in Visual Studio</a>
                </h4>
            </div>
            <div id="collapseVSBranch" class="panel-collapse collapse">
                <div class="panel-body">
                    <!-- Showing all of the steps for Creating a Branch-->
                    <strong>IF YOU ALREADY HAVE THE DEVELOPMENT LOCAL BRANCH SKIP TO STEP 4</strong>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5><strong>Step 1:</strong></h5>
                            Now that you have the project set up and we want to setup a branch for when you do work, it is all tied to a branch.
                            </br>Go to the Team Explorer.
                            </br><img src="~/Content/images/VSBranchStep1Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 2:</strong></h5>
                            The Team Explorer should be at <strong>Home</strong>. 
                            </br>If not, then click <strong>Connect</strong> then right click on awp repo and click <strong>Open</strong>.
                            </br>From here you are going to click <strong>Branch</strong>.
                            </br><img src="~/Content/images/VSBranchStep2Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 3:</strong></h5>
                            Your screen should look like this. We are only going to make branches from the development Git repo
                            </br>Go to the Team Explorer.
                            </br><img src="~/Content/images/VSBranchStep3Image.jpg" class="img-responsive" />
                            </br>As you can see the remote has a Development branch that we dont have yet. Right click on Development and click checkout. This will create a local branch of Development.
                            </br><img src="~/Content/images/VSBranchStep3AImage.jpg" class="img-responsive" />
                            </br>If you get a message that it could not be checked out, try checking it out again. It happens when a file is being used and cant be released. Doing the checkout again will release the file.
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 4:</strong></h5>
                            Now we need to make sure our local Development branch is up to date. 
                            </br>First we are going to <strong>Right Click</strong> on the local Development branch and select Pull. This will get the most updated copy of development to insure current work is done against current code.
                            </br><img src="~/Content/images/VSBranchStep4Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 5:</strong></h5>
                            Right click on the our local development branch after we have updated it and select <strong>New Local Branch From...</strong>
                            </br><img src="~/Content/images/VSBranchStep5Image.jpg" class="img-responsive" />
                            </br>The Team Explorer will change to a window about the branch you will be setting up.
                            </br><img src="~/Content/images/VSBranchStep5AImage.jpg" class="img-responsive" />
                            </br>The first field is the name of the branch you want to create. Name it based on the task you are assigned. The second field is the main branch we are making our working branch from. This should be pointing to our local copy of development.
                            </br>For New Developers we are going to call the branch TestBranch.
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 6:</strong></h5>
                            You should be in your new local branch, you can tell cause the text is bolded.
                            </br>For this demo we will be in the test branch we created in the last tutorial.
                            </br><img src="~/Content/images/VSSubmitStep1Image.jpg" class="img-responsive" />
                            </br>You now have a local branch that is branched off of the Development branch. The branch will keep track of all changes you make.
                            </br>New Developers should go to the Submitting a Branch in Visual Studio to continue.
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#VSBranchGroup" href="#collapseVSSubmit">Submitting a Branch in Visual Studio</a>
                </h4>
            </div>
            <div id="collapseVSSubmit" class="panel-collapse collapse">
                <div class="panel-body">
                    <strong>YOU NEED A BRANCH FIRST, IF YOU DONT HAVE A BRANCH GO TO "Create a Branch in Visual Studio"</strong>
                    <ul class="list-group">
                        <!-- This is now the submit stuff-->
                        <li class="list-group-item">
                            <h5><strong>Step 1:IF YOU ARE A NEW DEVELOPER OTHERWISE START AT STEP 2</strong></h5>
                            </br>Go to the solution explorer and make any code change you want. All changes will be tracked by our new branch.
                            </br>For New Developers we will go to the Controllers folder, and select AccountController.cs to make a change to.
                            </br><img src="~/Content/images/VSSubmitStep1AImage.jpg" class="img-responsive" />
                            </br><img src="~/Content/images/VSSubmitStep1BImage.jpg" class="img-responsive" />
                            </br>Add a comment and save your changes.
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 2:</strong></h5>
                            Now go back to Team Explorer and go to the Changes section. Click on the <strong>Branches</strong> at the top and click <strong>Changes</strong>
                            </br><img src="~/Content/images/VSSubmitStep2Image.jpg" class="img-responsive" />
                            </br>It will automatically detect your change. You need to enter a commit message, which should describe the change you put into place. And then click <strong>Commit All</strong>.
                            </br>This will only commit these changes to your local repo.
                            </br><strong>Moving changes to the remote repo is covered in "Pushing a Commit to Remote Repository in Visual Studio"</strong>

                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#VSBranchGroup" href="#collapseVSPush">Pushing a Commit to Remote Repository in Visual Studio</a>
                </h4>
            </div>
            <div id="collapseVSPush" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
                        <!-- This is now the pushing stuff-->
                        <li class="list-group-item">
                            <h5><strong>Step 1:</strong></h5>
                            You currently have changes from your branch that you committed that need to be pushed to the remote branch.
                            </br>To do that first select the <strong>Sync</strong> option from the menu
                            </br><img src="~/Content/images/VSPushStep1Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 2:</strong></h5>
                            Click on the <strong>Publish</strong> button under the Outgoing Commits.
                            </br><img src="~/Content/images/VSPushStep2Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 3:</strong></h5>
                            When the publish is successful you will get this screen
                            </br><img src="~/Content/images/VSPushStep3Image.jpg" class="img-responsive" />
                            </br>Now we need to go to BitBucket and merge our Branch into development.
                         
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 4:</strong></h5>
                            Go to BitBucket in your browser. If BitBucket is not already open in a browser tab, click here to login to BitBucket
                            </br><a href="https://bitbucket.org/product" target="_blank">BitBucket Homepage</a>
                            </br>When you are in BitBucket and in the AWP repo navigate to Branches.
                            </br><img src="~/Content/images/VSPushStep4Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 5:</strong></h5>
                            Your branch you had on your local machine should be in BitBucket now
                            </br><img src="~/Content/images/VSPushStep5Image.jpg" class="img-responsive" />
                            </br>Publish pushes the local branch to the remote repo. You will now need to merge your branch into the development branch.
                            </br>Click on your branch, for New Developers that will be TestBranch.
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 6:</strong></h5>
                            Click on <strong>change destination</strong>, then select development from the dropdown list
                            </br><img src="~/Content/images/VSPushStep6Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 7:</strong></h5>
                            Now click Merge in the top right.
                            </br><img src="~/Content/images/VSPushStep7Image.jpg" class="img-responsive" />
                            </br>BitBucket will make a generic commit message. Update the message to match all of the changes that are part of the commit you have.
                            </br><img src="~/Content/images/VSPushStep7AImage.jpg" class="img-responsive" />
                            </br>Now click <strong>Merge</strong> to merge your change to the development branch.
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 8:</strong></h5>
                            Now go back to Visual Studio, then go to the <strong>Team Explorer</strong>, then right click on the local development branch
                            </br><img src="~/Content/images/VSPushStep8Image.jpg" class="img-responsive" />
                            </br>The local development branch should get the latest update and commits that you have made. BitBucket takes a few minutes to fully update the repo.
                            </br>If the update is not working right away, give it a few seconds or minutes to make sure the update has went through.

                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 9:</strong></h5>
                            You have successfully push your commit to the development branch. Branches should only be deleted once the change has been moved to production.
                            </br>This will help in any case we need to reverse a commit for any reason and allow us to fix the branch to recommit it to production.
                            </br>For New Developers that created the TestBranch you can delete it. Or any other branch you want to remove.
                            </br>
                            </br><strong>To Delete Your Branch</strong> 
                            </br>In Visual Studio, go to the Branches screen in the Team Explorer. 
                            </br>Right click the branch in remotes that was created by the publish and select <strong>Delete Branch From Remote</strong>. 
                            </br>For New Developers this should be the TestBranch. 
                            </br><img src="~/Content/images/VSPushStep9Image.jpg" class="img-responsive" />
                            </br>The remote branch is now deleted. You can also delete your local branch in the same way by right clicking on your local branch and select <strong>Delete</strong>
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 10:</strong></h5>
                            To further verify that the remote branch was deleted we will check the branches in BitBucket.
                            </br>Go back to your browser and go back into Bitbucket. Click Branches
                            </br><img src="~/Content/images/VSPushStep10Image.jpg" class="img-responsive" />
                            </br>Your branch should be removed from the list of branches. If not refresh the page, BitBucket might take a few seconds or minutes for the change to go through.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>