﻿<div class="container">
    <h4><strong>Visual Studio Installation</strong></h4>
    <p>
        In this section, we will show you how to download and setup Visual Studio on your machine. As well as setup Git in Visual Studio.</br>
        </br><strong>NOTE:</strong> Operating System: Windows 10
        </br><strong>NOTE:</strong> Version: Visual Studio 2017 Community Edition
        </br>
        <div class="alert alert-warning">
            <strong>WARNING:</strong>Do not uninstall Visual Studio. Doing a Visual Studio uninstall does not remove all files associated with Visual Studio.
            </br>This will cause weird behavior to happen when trying to reinstall Visual Studio.
        </div>
    </p>
    <div class="panel group">


        <!-- Visual Studo Installation Process-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseVSInstallProcess">Visual Studio Installation process.</a>
                </h4>
            </div>
            <div id="collapseVSInstallProcess" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5><strong>Step 1:</strong></h5>
                            Click on the link below to go to the Visual Studio Community 2017 Edition.
                            </br><a href="https://www.visualstudio.com/downloads/" target="_blank">Visual Studio Downloads</a>
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 2:</strong></h5>
                            Click the Free Download under Visual Studio Community 2017
                            </br><img src="~/Content/images/VSInstallStep2Image.jpg" class="img-responsive"/>
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 3:</strong></h5>
                            Follow the installation guide to get Visual Studios installed. 
                            </br>After following the installation guide Visual Studio should be installed on your machine.
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Git install into Visual Studio-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseGitVSInstall">Git setup in Visual Studio</a>
                </h4>
            </div>
            <div id="collapseGitVSInstall" class="panel-collapse collapse">
                <div class="panel-body">
                    <!-- Showing all of the steps for setting up Git in Visual Studio-->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5><strong>Step 1:</strong></h5>
                            In <strong>Team Explorer</strong> window in Visual Studio.
                            </br><img src="~/Content/images/VSGitSetupStep1Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 2:</strong></h5>
                            Click <strong>Connect</strong> then <strong>Projects</strong> then <strong>Manage Connections</strong>.
                            </br><img src="~/Content/images/VSGitSetupStep2Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 3:</strong></h5>
                            Click on the Clone option under the Local Git Repositories section.
                            </br><img src="~/Content/images/VSGitSetupStep3Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 4:</strong></h5>
                            In the Enter the URL of the Git Repo to clone put:
                            </br><strong>https://[username]@HttpUtility.HtmlEncode('\u0040')bitbucket.org/AIMNTLS/awp.git</strong>
                            </br>Also change the repo directory to end in Repos/awp
                            </br>
                            </br>The [username] field is your BitBucket username. If you dont remember your BitBucket username login to BitBucket, bottom left of page click on the user icon, then click on <strong>View Profile</strong>.
                            </br>Then click on <strong>Settings</strong>. Your username will be displayed on this page.
                            </br>
                            </br><img src="~/Content/images/VSGitSetupStep4Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 5:</strong></h5>
                            Click on the <strong>Clone</strong> button. This will clone the BitBucket repo that we have.
                            </br>Under the Local Git Repositories a new Git repo will be there.
                            </br><img src="~/Content/images/VSGitSetupStep5Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 6:</strong></h5>
                            Right click on the new cloned reop and select Open. It should look like this.
                            </br><img src="~/Content/images/VSGitSetupStep6Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 7:</strong></h5>
                            Under the Solutions section you can double click on the awp.sln. This will load the project into Visual Studio. It might take a few minutes.
                            </br>After it loads click on the Solution Explorer tab. You should see the entire source code in the project. 
                            </br><img src="~/Content/images/VSGitSetupStep7Image.jpg" class="img-responsive" />
                        </li>

                        <li class="list-group-item">
                            <h5><strong>Step 8:</strong></h5>
                            After the project has been imported and Visual Studio is properly setup you will build the project and then run the project.
                            </br>Right Click on the awp in the Solution Explore and click Build. Then press F5 to run the project.
                            </br>Your browser should open and look like this.
                            </br><strong>You have successfully set up Git inside Visual Studio.</strong>
                            </br><img src="~/Content/images/VSGitSetupStep8Image.jpg" class="img-responsive" />
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>

</div>