﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "DeveloperRef";
}

<div class="conta"
<div class="page-header text-center">
    <h1>Developer References</h1>
</div>

<div class="container">
    <p><strong>Note:</strong>These are the resources and step by step guide for developers to get their set up. This page contains information for software and tools that a developer will need to install on there machines.</p>
    <div class="panel-group" id="accordion">
        <!-- Sections-->

        <!-- Git Installation-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Git Installation</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                @Html.Partial("_GitRefPartial")
            </div>
        </div>

        <!-- BitBucket-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">BitBucket Account Creation</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                   @Html.Partial("_BitBucketPartial")
                </div>
            </div>
        </div>

        <!-- Visual Studio-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Visual Studio Installation</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("_VSInstallPartial")
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Create a new Branch, Committing, and Pushing</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("_VSBranchPartial")
                </div>
            </div>
        </div>
    </div>

</div>




